@use '../typography.scss' as *;
@use '../helpers.scss' as *;
@use '../colors.scss' as *;

.accordion {
    &__details {
        cursor: pointer;
        transition: 0.2s;
        position: relative;
        background-color: var(--tertiary);
        border: 1px solid var(--primary);
        margin-left: -1rem;
        box-shadow: -8px 8px 5px 0 rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__inner {
        max-width: calc((100vw - 65vw) / 3);
        transition: 0.2s;

        @media screen and (min-width: $desktop) {
            max-width: calc((100vw - (50vw + 100px)) / 3);
        }

        // ===== OPEN STATE =====
        &[data-state="open"] {
            width: 65vw;
            max-width: 65vw;

            @media screen and (min-width: $desktop) {
                width: 50vw;
                max-width: 50vw;
            }

            .session-item__wrapper {
                &::after {
                    opacity: 0.3;
                }
            }
        }
    }

    &__title, &__subtitle {
        display: block;
        font-family: 'Darker Grotesque', sans-serif;
        margin: 1.5rem;
        min-width: max-content;
    }

    &__title {
        margin-bottom: 0;
    }

    &__subtitle {
        margin-top: 0;
    }

    &__content {
        width: 60vw;
        margin: 0 1.5rem;

        @media screen and (min-width: $desktop) {
            margin: 0 2.2rem 0 4.2rem;
            max-width: 500px;
            width: 80vw;
        }

        h2 {
            @include base-font-size;
            font-family: "Noto Sans Display", sans-serif;
        }

        .session-item__wrapper {
            &:nth-child(even)::after {
                background-color: var(--primary);
            }
        }
    }
}