@use '../colors.scss' as *;
@use '../layout.scss' as *;
@use '../helpers.scss' as *;


.icon-with-text {
   &__parent {
      @media screen and (min-width: $desktop) {
         display: grid;
         grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
      }
   }

   &__wrapper {
      width: 450px;
      max-width: 100%;
      margin: auto;
      padding: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      gap: 3rem;

      @media screen and (min-width: $desktop) {
         display: grid;
         place-items: center;
         text-align: center;
         gap: 2rem;

         &:nth-child(n+2)::after {
            content: "";
            width: 1px;
            height: 60%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: var(--tertiary);
         }
     }
   }

   &__title {
      margin-bottom: 1rem;

      @media screen and (min-width: $desktop) {
         margin-bottom: 0;
      }
   }

   &__icon {
      width: 6rem;
      font-size: 4.5em;
      color: var(--secondary);
      display: grid;
      place-items: center;
   }
   
   &__content {
      width: 90%;
      display: block;
   }
}