@use '../colors.scss' as *;
@use '../layout.scss' as *;
@use '../helpers.scss' as *;

.schedule {
    &__wrapper {
        @include color-profile-tertiary;
        @include standard-padding;
        @include container;
        max-width: 100%;
        min-height: 400px;
        overflow-x: auto;
        padding-right: 0;
    }

    &__inner {
        display: flex;
        position: relative;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__time {
        margin: 8.4rem 1rem 0 -0.9rem;
        pointer-events: none;
        display: grid;
        text-align: right;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        
        @media screen and (min-width: $desktop) {
            display: block;
            margin: 8.35rem 1rem 0 1rem;
            position: relative;
        }

        span {
            position: relative;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-top: 1px solid var(--dark);
        }
    }

    &__details-wrapper {
        display: flex;
        overflow: hidden;
        margin-left: -2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;

        @media screen and (min-width: $desktop) {
            margin-left: -6rem;
            padding-left: 6rem;
        }
    }
}