.sessions {
    &__title.standard-padding, &__description {
        text-align: center;
        padding-bottom: 0;
    }

    .dropdown__details {
        padding-top: 140px;
        margin-top: -140px;
    }
}