@use './colors.scss' as *;
@use './layout.scss' as *;
@use './helpers.scss' as *;

@mixin standard-padding-small {
    padding: 0.3rem 1.3rem;
}

.button {
    @include standard-padding-small;
    border: 1px solid currentColor;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: block;
    width: max-content;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    transition: 0.2s;
    line-height: 1;
    padding-bottom: 0.45rem;
    text-align: center;

    &--primary {
        @include color-profile-primary;
        border-color: var(--primary);
    }

    &--secondary {
        @include color-profile-secondary;
        border-color: var(--secondary);
    }

    &--tertiary {
        @include color-profile-tertiary;
        border-color: var(--light);
    }

    &:not([disabled]):hover {
        background-color: transparent;
    }

    &--primary {
        &:not([disabled]):hover {
            @include color-profile-secondary;
            border-color: var(--secondary);
        }
    
    }

    &--secondary {
        &:not([disabled]):hover {
            color: var(--secondary);
        }
    
    }

    &--tertiary {
        &:not([disabled]):hover {
            color: var(--light);
        }
    
    }

}

.link {
    cursor: pointer;
    display: inline-block;
    color: inherit;
    height: max-content;
    text-align: center;
    text-underline-offset: 3px;

    &[data-title]::after {
        content: attr(data-title);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: 700;
        display: block;

        @media speech {
            display: none;
        }
    }

    &:not([disabled]):hover {
        &[data-title]:hover {
            font-weight: bold;
        }
    }
    
    &--hover-underline {
        @media screen and (min-width: $desktop) {
            text-decoration: none;
            position: relative;
            overflow: hidden;
    
            &:not(.type--accent) {
                font-family: 'Darker Grotesque', sans-serif;
            }
    
            &::before {
                content: "";
                width: 400%;
                height: 1px;
                display: block;
                transition: 0.2s;
                background: linear-gradient(to right, currentColor, currentColor, var(--primary), var(--primary));
                position: absolute;
                bottom: 0;
                right: 0;
            }
    
            &:not([disabled]):hover, &.hovered {
                &::before {
                    right: -200%;
                }
    
                &[data-title]:hover {
                    font-weight: normal;
                }
            }
        }
    }
}