$mobile: 320px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
$ultrawide: 1400px;

.hide {
    display: none !important;
}

.hide-mobile {
    @media screen and (max-width: $tablet) {
        display: none !important;
    }
}

.hide-tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        display: none !important;
    }
}

.hide-desktop {
    @media screen and (min-width: $desktop) {
        display: none !important;
    }
}

.hide-desktop-down {
    @media screen and (max-width: $desktop) {
        display: none !important;
    }
}