@use './colors.scss' as *;

html, body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 10px);
  box-sizing: border-box;
  overflow-x: hidden;

  & * {
    box-sizing: border-box;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

@mixin standard-margin-top {
  margin-top: 4rem;
}

@mixin standard-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@mixin container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.standard-padding {
  @include standard-padding;
}

.container {
  @include container;
  width: 100%;
  margin: auto;
  max-width: 1440px;
}

.standard-margin-top {
  @include standard-margin-top;
}

.top-divider {
  position: relative;

  &::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    margin: auto;
    top: 4rem;
    left: 0;
    right: 0;
    min-width: 60vw;
    width: 200px;
    height: 1px;
  }
}